<!DOCTYPE html>
<html lang="en">
	<head>
		<title>admin</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav style='display: flex; justify-content: space-between; border-bottom: 1px solid black; margin-bottom: 15px;'>
			<a href='/'>clubhouse</a>
			<div style='display: flex; gap: 10px; list-style-type: none;'>
				<% if (!session.member) { %>
					<a href='/join'>join</a>
				<% } %>
				<% if (!session.admin) { %>
					<a href='/admin'>admin</a>
				<% } %>
				<a href='/logout'>log out</a>
			</div>
		</nav>
		<main style='width: 300px; margin: auto; text-align: center;'>
			<form method='post' style='display: flex; flex-direction: column; gap: 10px;'>
				<input name="password" placeholder='password'type="password" >
				<input type="submit" value="admin">
			</form>
		</main>
	</body>
</html>


