<!DOCTYPE html>
<html lang="en">
	<head>
		<title>messages</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav style='display: flex; justify-content: space-between; border-bottom: 1px solid black'>
			<a href='/'>clubhouse</a>
			<div style='display: flex; gap: 10px; list-style-type: none;'>
				<% if (session) { %>
				<a href='/logout'>logout</a>
				<% } else { %>
				<a href='/signup'>sign up</a>
				<a href='/login'>log in</a>
				<% } %>
			</div>
		</nav>
		messages
	</body>
</html>
