<!DOCTYPE html>
<html lang="en">
	<head>
		<title>log in</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav style='display: flex; justify-content: space-between; border-bottom: 1px solid black'>
			<h3><a href='/'>clubhouse</a></h3>
			<ul style='display: flex; gap: 10px; list-style-type: none;'>
				<% if (user) { %>
				<li><a href='/logout'>logout</a></li>
				<% } else { %>
				<li><a href='/signup'>sign up</a></li>
				<li><a href='/login'>log in</a></li>
				<% } %>
			</ul>
		</nav>
		log in	
	</body>
</html>
