<!DOCTYPE html>
<html lang="en">
	<head>
		<title>log in</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav style='display: flex; justify-content: space-between; border-bottom: 1px solid black'>
			<a href='/'>clubhouse</a>
			<a href='/signup'>sign up</a>
			</ul>
		</nav>
		log in	
	</body>
</html>
