<!DOCTYPE html>
<html lang="en">
	<head>
		<title>sign up</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav style='display: flex; justify-content: space-between; border-bottom: 1px solid black'>
			<h3><a href='/'>clubhouse</a></h3>
			<ul style='display: flex; gap: 10px; list-style-type: none;'>
				<% if (session) { %>
				<li><a href='/logout'>logout</a></li>
				<% } else { %>
				<li><a href='/signup'>sign up</a></li>
				<li><a href='/login'>log in</a></li>
				<% } %>
			</ul>
		</nav>
		<main>
			<form method='post' style='display: flex; flex-direction: column; gap: 10px; width: 300px; margin: auto; padding: 20px;'>
				<input name="fname" placeholder="first name" value=<%= user.fname %>>
				<input name="lname" placeholder="last name" value=<%= user.lname %>>
				<input name="email" placeholder='email' type="email" value=<%= user.email %>>
				<input name="pw" placeholder='password'type="password" >
				<input name="cpw" placeholder='confirm password'type="password" >
				<input type="submit" value="submit">
			</form>
		</main>
	</body>
</html>
