@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: black;
  color: white;
  color-scheme: dark;
}

input, button, section div {
  @apply ring ring-white rounded-xl px-2 h-6
}

section {
  @apply ring ring-white rounded-xl p-6 gap-6 flex flex-col
}

