doctype html
html(lang='en')
  head
    title= title
  body(style='display: flex;')
    aside(style='min-width: 200px;')
      ul(class='sidebar-nav')
        li
          a(href='/categories') All categories
        li
          a(href='/items') All items
        hr
        li
          a(href='/categories/create') Create new category
        li
          a(href='/items/create') Create new item
    main
      block content
