* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  overflow-x: hidden;
  background-color: black;
}

#header-bg {
  height: 70px;
  background-color: orange;
  transform: rotate(-13deg) scale(1550%);
}

header {
  position: relative;
  height: 650px;
  margin: 0 70px 0 70px;
  display: flex;
  align-items: center;
}

header img {
  height: 650px;
}

#name {
  position: absolute;
  bottom: 0;
  width: 650px;
  text-align: center;
  color: white;
  font-size: 64px;
}

#header-info {
  background-color: white;
  height: 500px;
  padding: 42px 24px;
}

h1 {
  font-size: 64px;
}

header h1 {
  color: black;
}

#header-info p {
  margin-top: 36px;
  font-size: 28px;
  color: black;
}

main {
  margin: 160px 80px;
}

#grid {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  height: 550px;
  width: 450px;
}

.card-image {
  background-color: darkgrey;
  height: 330px;
  font-size: 62px;
  text-align: center;
  padding-top: 75px;
}

.card-body {
  background-color: grey;
  height: 220px;
  padding: 20px;
}

.card-body h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.card-body p {
  font-size: 22px;
}

footer {
  background-color: orange;
  padding: 80px;
  display: flex;
  justify-content: space-between;
}

#footer-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  font-size: 28px;
}

#footer-body h1, p, address, div {
  color: black;
}

#footer-image {
  width: 850px;
  height: 650px;
}
