* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: black;
}

header {
  background: linear-gradient(169deg, orange 69%, black 69.2%);
  height: 790px;
  padding: 70px;
  display: flex;
  align-items: center;
  position: relative;
}

header img {
  height: 650px;
}

#name {
  position: absolute;
  bottom: 70px;
  width: 650px;
  text-align: center;
  color: white;
  font-size: 64px;
}

#header-info {
  background-color: white;
  height: 500px;
  padding: 42px 24px;
}

h1 {
  font-size: 64px;
}

header h1 {
  color: black;
}

#header-info p {
  margin-top: 36px;
  font-size: 28px;
  color: black;
}

main {
  margin: 80px 100px 140px 100px;
}

#grid {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  height: 550px;
  width: 450px;
}

.card-image {
  background-color: darkgrey;
  height: 330px;
  font-size: 62px;
  text-align: center;
  padding-top: 75px;
}

.card-body {
  background-color: grey;
  height: 220px;
  padding: 20px;
}

.card-body h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.card-body p {
  font-size: 22px;
}

footer {
  background-color: orange;
  padding: 80px 100px;
  display: flex;
  justify-content: space-between;
}

#footer-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  font-size: 28px;
}

#footer-body h1, p, address, div {
  color: black;
}

#footer-image {
  width: 850px;
  height: 650px;
  background-color: black;
  color: white;
}

@media screen and (max-width: 1630px) {
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    background: linear-gradient(169deg, orange 39%, black 39.2%);
    height: fit-content;
  }

  header img {
    height: 400px;
  }
  #name {
    bottom: 580px;
    font-size: 84px;
    width: 350px;
  }

  #header-info {
    background-color: black;
  }

  #header-info p {
    color: white;
  }

  #header-info h1 {
    color: white;
  }

  footer {
    flex-direction: column;
  }

  #footer-image {
    width: 100%;
    margin-top: 50px;
    height: 400px;
  }
}
